:root {
    // Brand Colors
    --primary-color: #c00000;
    --secondary-color: #262626;

    // State Colors
    --success-color: #22a640;
    --danger-color: #c92938;
    --warning-color: #f2c029;
    --info-color: #2da9db;

    // Text Colors
    --button-text-color: #291655;
    --text-color: #1f1f1f;
    --sub-text-color: #696871;

    // Background Colors
    --black-bg-color: #1f1f1f;
    --white-bg-color: #fff;
    --light-bg-color: #eae9f2;
}
