:root {
    // Brand Colors
    --primary-color: #722ecc;
    --secondary-color: #262626;

    // State Colors
    --success-color: #22a640;
    --danger-color: #ba0f16;
    --warning-color: #f2c029;
    --info-color: #2da9db;

    // Text Colors
    --button-text-color: #291655;
    --text-color: #1f1f1f;
    --text-color-invert: #fff;
    --sub-text-color: #828282;

    // Background Colors
    --black-bg-color: #1f1f1f;
    --white-bg-color: #fff;
    --light-bg-color: #eae9f2;

    // Border Colors
    --border-color: #999;
}

/* Utility classes */
.color-primary {
    color: var(--primary-color);
}
.color-sub-text {
    color: var(--sub-text-color);
}
