.wrapper {
    background: var(--primary-color) url('login-assets/Background_Image.svg');
    background-size: cover;
    position: relative;
}

.card_container {
    width: 382px;
}

.boy_character_wrapper,
.girl_character_wrapper {
    position: absolute;
    bottom: 0;
    width: 25vmin;
    min-width: 120px;
}

.boy_character_wrapper {
    left: 0;
}
.girl_character_wrapper {
    right: 0;
}

.google_btn {
    width: 100%;
    border: 1px solid #464646;
    color: black;
}

.google_login_text {
    text-align: center;
    margin: 20px 0 15px 0;
    font-size: 14px;
    background-color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    span {
        flex: 1;
        background-color: #464646;
        height: 1px;
        &.text {
            display: inline-block;
            margin: 0 5px;
            background-color: transparent;
            height: unset;
        }
    }
}

@media screen and (max-width: 686px) {
    .boy_character_wrapper,
    .girl_character_wrapper {
        width: 20vmin;
    }
}

.password_wrapper {
    display: flex;
    align-items: center;
}

.eye_wrapper {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}
.close {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
}
