.wrapper {
    background: var(--primary-color)
        url('/public/login-assets/Background_Image.svg');
    background-size: cover;
    position: relative;
}

.boy_character_wrapper,
.girl_character_wrapper {
    position: absolute;
    bottom: 0;
    width: 25vmin;
    min-width: 120px;
}

.boy_character_wrapper {
    left: 0;
}
.girl_character_wrapper {
    right: 0;
}

@media screen and (max-width: 686px) {
    .boy_character_wrapper,
    .girl_character_wrapper {
        width: 20vmin;
    }
}

.password_wrapper {
    display: flex;
    align-items: center;
}

.eye_wrapper {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
.close {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
}
