.wrapper {
    padding: 10px 20px;
    background-color: var(--blackBgColor);
    display: flex;
    justify-content: space-between;
}

.hamburger_lines {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 25px;
    .line {
        height: 2px;
        background-color: #fff;
        width: 100%;
    }
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .action {
        width: 20px;
        color: #fff;
        cursor: pointer;
    }
}
