h1 {
    color: var(--primary-color);
}

.border-default {
    border-bottom: 1px solid #a4a4a4;
}

.ve-field {
    height: 3rem;
}

.default-login-box {
    width: 651px;
}

.default-button {
    height: 3rem;
    background-color: var(--primary-color);
    width: 100%;
}

.default-error {
    font-size: 12px;
    color: var(--danger-color);
    font-weight: 500;
}

.default-error-border {
    border: 1px solid var(--danger-color);
}

.ve-terms {
    font-size: 0.68rem;
    line-height: 1rem;
}

.otp-field[type='number'] {
    text-align: center;
}

.field {
    border: 1px solid #e5e7eb;
}

/* RESET INPUT OUTLINE */
input {
    outline: none;
}
// Pre sets

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
